body {
    margin: 0;
    padding: 0;
    background-color: rgb(248, 236, 253);
}

.body-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    background-color: white;
    border-radius: 5px;
    padding: 40px;
    width: 1000px;
    max-width: 80vw;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
}

.search-input {
    width: 180px;
    border: none;
    border-radius: 5px;
    padding: 12px 0px 12px 10px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.search-input:focus {
    outline: none;
}

.material-symbols-outlined {
    color: gray;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.menu-bar {
    display: flex;
    align-items: center;
}

.menu-item {
    padding: 13px 20px;
    border-radius: 5px;
    margin-right: 5px;
    color: rgb(111, 127, 138);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.menu-item:hover {
    color: rgb(143, 164, 179);
}

.menu-item-hover {
    transition: background-color 0.2s ease-in-out;
    color: white;
    background-color: rgb(126, 146, 238);
}

.menu-item-hover:hover {
    color: white;
    background-color: rgb(160, 178, 255);
}